.table> tbody > tr:nth-of-type(odd) > * {
  background-color: var(--bs-table-striped-bg, #00000005);
  color: var(--bs-table-striped-color, inherit);
}

[data-bs-theme="dark"] .table> tbody > tr:nth-of-type(odd) > *,
html[data-bs-theme="dark"] .table> tbody > tr:nth-of-type(odd) > * {
  background-color: #424242;
  color: var(--bs-table-striped-color, inherit);
}

.table-hover > tbody > tr:hover > * {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
[data-bs-theme="dark"] .table-hover > tbody > tr:hover > * {
  background-color: rgba(255, 255, 255, 0.06) !important;
}

.table-sm > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
}
